BraceWrapping:
  AfterControlStatement: false # Prevent braces from being on a new line after control statements
  IndentBraces: false
BreakBeforeBraces: Attach

IndentCaseLabels: true

AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false

PenaltyBreakBeforeFirstCallParameter: 1000
ColumnLimit: 180
PenaltyExcessCharacter: 1000

# Additional settings
AllowShortBlocksOnASingleLine: true # Allow short blocks to be on a single line
