BraceWrapping:
  AfterControlStatement: true
  IndentBraces:    false
BreakBeforeBraces: Attach 

IndentCaseLabels: true

AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false

PenaltyBreakBeforeFirstCallParameter: 1000
ColumnLimit: 200
PenaltyExcessCharacter: 1000 
